@import 'sass/index.scss';

.container {
  width: 100%;
  max-width: 80rem;
  height: 80%;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: $color-primary;
    border-radius: 50%;
    z-index: -1;
  }

  &::after {
    top: -7rem;
    right: -3rem;
  }

  &::before {
    bottom: -3rem;
    left: -5rem;
  }

  .slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgContainer {
      height: 46rem;
      width: 34rem;

      @include media(tablet) {
        margin: 0 5rem;
      }

      img {
        border-radius: 1rem;
        box-shadow: 5px 3px 33px -15px $color-dark;
        pointer-events: none;
      }
    }

    .contentContainer {
      position: absolute;
      bottom: -5rem;
      right: -4rem;
      max-width: 300px;

      background-color: rgba($color: $color-background, $alpha: 0.85);

      padding: 1rem 3rem;
      border-radius: 1rem;

      @include media(tablet) {
        position: static;
        padding: 4rem 3rem;
      }

      h4 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: bold;
      }

      span {
        display: inline-block;
        position: relative;
        padding: 0.5rem 0;
        font-weight: bold;
        color: $color-grey;
        z-index: 6;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 80%;
          background: $color-primary;
          opacity: 0.4;
        }
      }

      p {
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1.3rem;
        color: $color-grey;
      }
    }
  }

  .buttonLeft {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .buttonRight {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
