.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
