@import 'sass/index.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include flex();
}

.socialList {
  @include flex();
  li {
    padding: 1rem;
    margin-bottom: 0.5rem;
    outline: none;
  }

  a {
    font-size: 2.5rem;
    color: darken($color-primary, 30%);
  }
}
