@import 'sass/index.scss';

.wrapper {
  height: 90vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
